{% block title %}Publication
{% endblock %}

{% block body %}
	{% include 'posts/sidebar.html.twig' %}
	<div class="text-zinc-200 min-h-screen">
		<div class="max-w-2xl mx-auto px-6">
<div class="flex items-center mb-4 space-x-2">
    <a href="/posts" class="flex items-center">
        <img src="{{ asset('img/icons/arrow-back.png') }}" class="h-5" alt="Arrow Left Icon" />
        <h1 class="text-4xl font-extrabold text-white">&nbsp;&nbsp;Post</h1>
    </a>
</div>

			<div class="p-6 rounded-t-2xl shadow-lg hover:shadow-2xl transition-shadow duration-300 border border-zinc-700 ">
				<p class="font-semibold text-lg text-white">{{ post.user.username }}</p>
				<p class="mt-2 text-zinc-300">
					{{ post.content }}
				</p>
				<p class="text-sm text-zinc-500 mt-4">
					<em>Publié le
						{{ post.createdAt|date('d/m/Y H:i') }} • Avec Lumify</em>
				</p>

				<hr class="border border-zinc-700 w-75 mt-5 mb-5">

				<span class="flex whitespace-normal space-x-64 mb-5">
					<img src="{{ asset('img/icons/like.png') }}" class="h-5 hover:text-red-500" alt="Like Icon"/>
					<img src="{{ asset('img/icons/repost.png') }}" class="h-5" alt="Repost Icon"/>
					<a href="{{ path('posts_show', { id: post.id }) }}">
						<img src="{{ asset('img/icons/comment.png') }}" class="h-5" alt="Comment Icon"/>
					</a>
				</span>
			</div>
{{ form_start(comment_form, {'attr': {'class': 'space-y-4'}}) }}
    <div class="relative">
        {{ form_widget(comment_form.content, {
            'attr': {
                'class': 'bg-black w-full px-4 py-2 pr-16 border border-zinc-700 text-zinc-200',
                'placeholder': 'Écrivez votre commentaire ici...'
            }
        }) }}
        <button type="submit" class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-pink-500 text-white font-semibold py-1 px-4 rounded">
            Publier
        </button>
    </div>
{{ form_end(comment_form) }}


			{% for comment in post.comments %}
				<div class="p-4 border border-zinc-700">
					<p class="text-sm text-white">{{ comment.user.username }}</p>
					<p>{{ comment.content }}</p>
					<p class="text-xs text-zinc-400">{{ comment.createdAt|date('d/m/Y H:i') }}</p>
				</div>
			{% else %}
				<p class="text-zinc-400 italic">Soyez le premier à commenter !</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
