<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}Profil de
			{{ user.username }}
		{% endblock %}
	</title>
	<link rel="icon" type="image/png" href="{{ asset(logo) }}">
	<script src="https://cdn.tailwindcss.com"></script>
 
	{% block javascripts %}
		{{ importmap('app') }}
	{% endblock %}
</head>
<body>
	{% include 'posts/sidebar.html.twig' %}
 
	<!-- Profil -->
	{% block body %}
		<div class="bg-zinc-800 min-h-screen py-12 px-6">
			<div
				class="max-w-4xl mx-auto bg-zinc-900 p-6 rounded-lg shadow-lg">
				<!-- Titre du Profil avec photo à droite du nom d'utilisateur -->
				<div class="flex items-center justify-between">
					<div>
						<h1 class="text-4xl font-bold">Bienvenue,
							{{ user.username }}!</h1>
						<p class="mt-2 text-lg text-zinc-400">Email :
							{{ user.email }}</p>
 
						<form method="post" action="{{ path('update_bio') }}" class="mt-4">
							<textarea name="bio" rows="4" class="w-full p-2 bg-zinc-700 border-2 border-zinc-600 rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500" placeholder="Écrivez votre bio ici...">{{ user.bio ? user.bio : '' }}</textarea>
							<button type="submit" class="mt-2 py-2 px-4 bg-rose-500 rounded-md hover:bg-rose-600 focus:outline-none">Mettre à jour la bio</button>
						</form>
 
					</div>
 
					<!-- Affichage de la photo de profil avec taille agrandie -->
					<div class="ml-6">
						{% if user.profilePicture %}
							<img src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Photo de profil" class="w-32 h-32 rounded-full border-2 border-zinc-700">
						{% else %}
							<img src="{{ asset('img/photoprofil.jpg') }}" alt="Photo de profil par défaut" class="w-32 h-32 rounded-full border-2 border-zinc-700">
						{% endif %}
					</div>
				</div>
 
				<!-- Affichage des posts -->
				<div class="mt-8">
					<h2 class="text-2xl font-semibold">Mes publications</h2>
 
					{% if posts is empty %}
						<p class="text-zinc-400 mt-4">Aucune publication pour le moment.</p>
					{% else %}
						<ul class="space-y-4 mt-4">
							{% for post in posts %}
								<li class="bg-zinc-700 p-4 rounded-lg shadow-md">
									<div class="p-6 shadow-lg hover:shadow-2xl transition-shadow duration-300 border border-zinc-700">
										<p class="font-bold text-lg">{{ post.user.username }}&nbsp;&nbsp;<span class="text-sm text-zinc-500 mt-4">
												{{ post.createdAt|date('d/m/Y - H:i') }}
											</span>
										</p>
 
										<p class="mt-2 text-white">
											{{ post.content }}
										</p>
									</div>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	{% endblock %}
</body>